body{
    background-image: url(intro.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 300px;
    height: 100vh;

}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.header__title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    flex-direction: column;
}
.header__text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.parent {
display: grid;
grid-template-columns: repeat(6);
grid-template-rows: repeat(5);
grid-column-gap: 0px;
grid-row-gap: 0px;
margin: 10px;
}

.div1 { 
    grid-area: 2 / 3 / 3 / 4;
    background-color: rgba(0, 0, 0, 0.684); 
    margin: 20px;
    border-radius: 20px;
}

.div2 { grid-area: 3 / 3 / 4 / 4; 
    background-color: rgba(0, 0, 0, 0.684);
    margin: 20px;
    border-radius: 20px;
}

.div3 { grid-area: 2 / 4 / 3 / 5; 
    background-color: rgba(0, 0, 0, 0.684);
    margin: 20px;
    border-radius: 20px;
}

.div4 { grid-area: 3 / 4 / 4 / 5;
    background-color: rgba(0, 0, 0, 0.684);
    margin: 20px;
        border-radius: 20px;
}

.diego__title{
    color: white;
}
.diego__text{
    color: white;
}

.renzo__title{
    color: white;
}
.renzo__text{
    color: white;
}

.omar__title{
    color: white;
}
.omar__text{
    color: white;
}

.alvaro__title{
    color: white;
}
.alvaro__text{
    color: white;
}

.diego__img{
    width: 200px;
}

.renzo__img{
    width: 150px;
}

.omar__img{
    width: 200px;
}

.alvaro__img{
    width: 200px;
}