body{
    background-image: url(finalmedio2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    height: 100vh;

}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    flex-direction: column;
}
.header__text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.button{
    text-align: center;
    text-decoration: none;
    padding: 15px 35px;
    font-size: 18px;
    background: rgba(0, 7, 110, 0.611);
    color: #ffffff;
    border: 2px solid #0300a2;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    transition: 0.25s;
    margin-top: 500px;
    margin-left: 1250px;
    width: 10%;
}   