body {
    width: 100%;
    height: 100%;
    background-image: url(image/ruta_C.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#progress--height {
    height: 50px;
    margin: 20px;
    border-radius: 20px;
}

.section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    gap: 50px;
    margin-top: 100px;
}

.section__title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
}

.progress-bar {
    width: 0%;
}

@keyframes fill-bar {
    from { width: 0%; }
    to { width: 100%; }
}

#progress--height .progress-bar {
    animation: fill-bar 5s linear forwards;
}