.quiz--egipto-bg {
    background-image: url("Imagenes/Piramides_2.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0;
    height: 100vh;
}
.quiz__header {
    background-color: black;
    color: white;
    text-align: center;
    height: auto;
    border-radius: 5px;
}
.quiz__options {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.quiz__pregunta{
    grid-area: 2 / 2 / 3 / 6;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: Georgia, serif;
}
.quiz__option--correct { 
    grid-area: 3 / 2 / 8 / 4;
    border-radius: 5px;
    color: white;
    font-family: Georgia, serif;
    font-size: 26px;
    text-align: center;
    background-image: url(Imagenes/faraon.png);
    background-size: cover;
    width: 500px;
    height: 500px;
    border-radius: 30px;
}

.quiz__option--wrong { 
    grid-area: 3 / 4 / 8 / 6;
    border-radius: 5px;
    color: white;
    font-family: Georgia, serif;
    font-size: 26px;
    text-align: center;
    background-image: url(Imagenes/Sultan.png);
    background-size: cover;
    height: 500px;
    width: 500px;
    border-radius: 30px;
}
.texto{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 460px;
    height: 20px;
    border-radius: 20px;
}
