.quiz--personajes-bg {
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
}

.quiz--personajes-box{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    align-items: first baseline;

}

.quiz--personajes-box-box1{
    grid-area: 1 / 1 / 2 / 7;
    background-color: black;
    color: white;
    font-family: Georgia, serif;
    font-size: 26px;
    text-align: center;
    height: auto;
    border-radius: 5px;
    width: 1891px;
    align-items: center;
}

.quiz--personajes-box-box2{
    grid-area: 3 / 2 / 5 / 3;
    background-color: black;
    color: white;
    font-size: 26px;
    text-align: center;
}

.quiz--personajes-box-box3{
    grid-area: 3 / 3 / 5 / 4;
    background-color: black;
    color: white;
    font-size: 26px;
    text-align: center;
}

.quiz--personajes-box-box4{
    grid-area: 3 / 4 / 5 / 5;
    background-color: black;
    color: white;
    font-size: 26px;
    text-align: center;
}

.quiz--personajes-box-box5{
    grid-area: 3 / 5 / 5 / 6;
    background-color: black;
    color: white;
    font-size: 26px;
    text-align: center;
}